@charset "URF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
  background-color: #5f2c82;
  width: 100vw;
  height: 100vh;  
}

main{
    width: 100vw;
    height: 100vh;  
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

#Login{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) ;

}

#imagem{
    background: #5f2c82 url(../imagens/pexels-sevenstorm-juhaszimrus-443383.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    display: block;

}

#formulario{
    display: block;
    padding: 20px;
    
}